<h2>
<a href="/orders/<%= @order.id %>/edit">MODIFY YOUR ORDER</a>
<ul>
<%= @order_party.name %>,
party of <%= @order_party.size %> ordered:

<li>
	<%= @order_food.name %>
	</li>
	<li>
	$<%= @order_food.price %>
<li>

</ul>

DELETE ENTIRE ORDER
<form action="/orders/<%= @order.id %>" method="post"/>
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="Delete">
</form>


</h2>