<h1>
	<%= @party.name %> is currently logged in
		<br>
			
	<ul>
		<% @food.each do |f| %>
			<li>
				<!-- <%= f.name %> -->
				<form action="/parties/<%= @party.id%>" method="post" />
					<input type="hidden" name="food_id" value="<%= f.id %>"/>
					<input type="hidden" name="party_id" value="<%= @party.id %>"/>
					<div class="myButton4">
					<input type="submit" value="<%= f.name %>" />
					</div>
				</form>
			</li>
		<% end %>
	</ul>
</h1>