<h1>
	<%= @order.party.name %>'s order
		<br>
			<%= @order.food %>
		<br>
			<a href="/orders/<%= @order.id %>/receipt">Checkout</a>
		<br>
		<form action="/orders/<%= @order.id %>" method="post" />
			<input type="hidden" name="_method" value="delete" />
			<input type="hidden" name="party_id" value="<%= @order.party.id %>">
			<div class="myButton3">
			<input type="submit" value="Remove Item" />
		</form>
	</div>


	<ul>
		<% @food.each do |f| %>
			<li>
				<!-- <%= f.name %> -->
				<form action="/parties/<%= @party.id %>" method="post" />
				  <input type="hidden" name="_method" value="patch" />
					<input type="hidden" name="food_id" value="<%= f.id %>"/>
					<input type="hidden" name="party_id" value="<%= @party %>"/>
					<div class="myButton4">
					<input type="submit" value="<%= f.name %>" />
					</div>
				</form>
			</li>
		<% end %>
	</div>
</h1>