<h1>
	<%= @party.name %>'s order
		<br>
			<%= @party.foods %>
		<br>
			<a href="/parties/<%= @party.id %>/receipt">Checkout</a>

	<ul>
		<% @foods.each do |f| %>
			<li>
				<form action="/parties/<%= @party.id %>" method="post" />
				  <input type="hidden" name="_method" value="patch" />
					<input type="hidden" name="food_id" value="<%= f.id %>"/>
					<input type="hidden" name="party_id" value="<%= @party %>"/>
					<div class="myButton4">
					<input type="submit" value="<%= f.name %>" />
					</div>
				</form>
			</li>
		<% end %>
	</div>
</h1>