<h1>
	<%= @order.party.name %>'s order
		<br>
			<%= @order.food %>
		<br>
			<a href="/orders/<%= @order.id %>/receipt">Checkout</a>
		<br>
		<form action="/orders/<%= @order.id %>" method="post" />
			<input type="hidden" name="_method" value="delete" />
			<input type="hidden" name="party_id" value="<%= @order.party.id %>">
			<div class="myButton3">
			<input type="submit" value="Remove Item" />
		</form>

		
	</div>
</h1>